lmsgi/2trim/tema4/examen/catalogo.dtd

<!ELEMENT catalogo (libro+)>
<!ELEMENT libro (autor, titulo, genero, precio, fechaPublicacion, descripcion)>
<!ATTLIST libro
          id CDATA #REQUIRED>
<!ELEMENT autor (#PCDATA)>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT genero (#PCDATA)>
<!ELEMENT precio (#PCDATA)>
<!ELEMENT fechaPublicacion (#PCDATA)>
<!ELEMENT descripcion (#PCDATA)>
